# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# checkpoint files
/.ipynb_checkpoints

# misc
.DS_Store

#ignore model file since it is very large in size for Github
nepali_embeddings_word2vec.txt
